<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="No1.Properties.Settings.exceldeneme" connectionString="Dsn=dene;dbq=C:\USERS\ALIKO\ONEDRIVE\MASAÜSTÜ\Lesson\c#\c# çalışmalarım\program taslak.xlsx;defaultdir=C:\USERS\ALIKO\ONEDRIVE\MASAÜSTÜ\Lesson\c#\c# çalışmalarım;driverid=1046;fil=excel 12.0;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
        <add name="No1.Properties.Settings.cafedataConnectionString"
            connectionString="Data Source=DESKTOP-83AGMDV\MSSQLSERVER61;Initial Catalog=cafedata;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>